[Unit]
Description=consul
After=network-online.target

[Service]
Type=simple
Slice=consul.slice
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/var/packages/consul/target/bin/consul agent -dev -http-port=8500 -bind '{{ GetInterfaceIP "bond0" }}' -client '{{ GetPrivateInterfaces | exclude "type" "ipv6" | join "address" " " }}'
ExecStop=/bin/kill $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
