[Unit]
Description=BSDP Server
After=multi-user.target pkg-volume.target syno-login.target pkg-user-bsdp-dnsmasq.service
Requires=pkg-user-bsdp-dnsmasq.service

[Service]
Type=simple
# Environment variables (optional)
Environment="PYTHONUNBUFFERED=1"
ExecStart=/bin/python3 /var/packages/talospxe/target/bin/bsdpserver_py.runfiles/_main/spk/talospxe/bsdpserver_py -i eth3 -p /volume3/NetBoot/NetBootSP0/
Restart=on-success
RestartSec=5
Slice=talospxe.slice
User=root

# No Install: operated by SSS
